@import "~font-awesome/css/font-awesome.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";

@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

/********************************************************/
// facebook CSS 
/********************************************************/

//Hide the toolbar on react-big-component
.facebook-slider {
  height: 200px;
}

.slick-slide img {
  height: 100%;
  width: 100%;
}

.full-page {
  .facebook-slider {
    height: 100%; 
  }
}

/********************************************************/
// Calendar CSS 
/********************************************************/

//Hide the toolbar on react-big-component
.rbc-toolbar {
  display: none !important;
}
.calendar {
  width: 100%;
  height: 500px;
  // height: 75%;
}
.rbc-current {
  background-color: #eee;
}

.full-page {
  .calendar {
    height: 85%;
  }
}



/********************************************************/
// Quote CSS 
/********************************************************/
.quote {
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}
.auther {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 16px;
}
.bold {
  font-weight: bolder;
}

/********************************************************/
// Weather CSS 
/********************************************************/
.weather-section{
  // font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
  h6 {
    font-size: 24px;
    font-weight: bolder;
  }
  div {
    font-size: 20px
  }
}

.weather-temp{
  font-size: 50px !important;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
}

.weather {
  width: 100%;
  height: 200px;
  // height: 25%;
}
.fe_title {
  display: none !important;
}

.weather-widget {
  height: 450px;
  overflow: auto;
  padding: 15px;

}
.daily {
  margin-bottom: 100px;
}
/********************************************************/
// Time CSS 
/********************************************************/
.time {
  font-family: 'Playball', cursive;
  font-size: 38px;
  text-align: center;
}
.date {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  text-align: center;
}

/********************************************************/
// Reddit CSS 
/********************************************************/

.reddit-table tbody {
  height: 450px;
  overflow: auto;
}

.reddit-table thead > .reddit-table tr, .reddit-table tbody{
    display:block;
}